@{
    ViewData["Title"] = "Home Page";
}

<div>
    <!-- Navigation-->
    <a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#page-top">Portal Benedix</a></li>
            <li class="sidebar-nav-item"><a href="#page-top">Home</a></li>
            <li class="sidebar-nav-item"><a href="#about">Quem sou</a></li>
            <li class="sidebar-nav-item"><a href="#services">Instrumentos</a></li>
            <li class="sidebar-nav-item"><a href="#portfolio">Projetos Realizados</a></li>
            <li class="sidebar-nav-item"><a href="#contact">Contato</a></li>
            <li class="sidebar-nav-item"><a href="#">Fazer Login</a></li>
        </ul>
    </nav>
    <!-- Header-->
    <header class="masthead d-flex align-items-center">
        <div class="container px-4 px-lg-5 text-center">
            <h1 class="mb-1 text-primary">Portal de Cursos Benedix</h1>
            <h3 class="mb-5 text-black"><strong>Aulas de violão, contra-baixo, guitarra, teclado.</strong></h3>
            <a class="btn btn-primary btn-xl" href="#about">Quem sou?</a>
            <a class="btn btn-xl btn-dark" href="#services">Meus Cursos</a>
        </div>
    </header>
    <!-- About-->
    <section class="content-section bg-light" id="about">
        <div class="container px-4 px-lg-5 text-center">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-10">
                    <h2>Sou Leandro Benedix, natural de Porto Velho - Rondônia, sou formado em música pela instituição "Serenata Musical" e  atuo à 10 anos como professor de música.</h2>
                    <p class="lead mb-5">
                        Neste portal de cursos meus alunos têm aulas teóricas e práticas do básico ao avançado, com um conteúdo enriquecedor, no formato de video aulas, Pdfs e meu auxílio através de ferramentas google para sanar dúvidas a respeito do assunto ministrado nas aulas!
                        @*<a href="https://unsplash.com/">Unsplash</a>*@
                        !
                    </p>
                    <a class="btn btn-dark btn-xl" href="#services">Serviços</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Services-->
    <section class="content-section bg-primary text-white text-center" id="services">
        <div class="container px-4 px-lg-5">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">Instrumentos</h3>
                <h2 class="mb-5">O que você quer aprender?</h2>
            </div>
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="fas fa-guitar"></i></span>
                    <h4><strong>Violão</strong></h4>
                    <p class="text-faded mb-0">Aulas do básico ao avançado!</p>
                    <p>R$ 60 h</p>
                    <a class="btn btn-xl btn-dark" href="#services">Fazer curso</a>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="fas fa-guitar"></i></span>
                    <h4><strong>Contra-baixo</strong></h4>
                    <p class="text-faded mb-0">Aulas do básico ao avançado!</p>
                    <p>R$ 60 h</p>
                    <a class="btn btn-xl btn-dark" href="#services">Fazer curso</a>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="fas fa-guitar"></i></span>
                    <h4><strong>Guitarra</strong></h4>
                    <p class="text-faded mb-0">Aulas do básico ao avançado!</p>
                    <p>R$ 60 h</p>
                    <a class="btn btn-xl btn-dark" href="#services">Fazer curso</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="fas fa-keyboard"></i></span>
                    <h4><strong>Teclado</strong></h4>
                    <p class="text-faded mb-0">Aulas do básico ao avançado!</p>
                    <p>R$ 60 h</p>
                    <a class="btn btn-xl btn-dark" href="#services">Fazer curso</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Callout-->
    <section class="callout">
        <div class="container px-4 px-lg-5 text-center">
            <h1 class="mx-auto mb-5 text-white">
                <strong>
                    Torne-se meu aluno
                    <em>e</em>
                    domine o seu instrumento preferido.
                </strong>
            </h1>
            <a class="btn btn-primary btn-xl" href="#">Quero ser aluno!</a>
        </div>
    </section>
    <!-- Portfolio-->
    <section class="content-section" id="portfolio">
        <div class="container px-4 px-lg-5">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">Portfolio</h3>
                <h2 class="mb-5">Projetos Realizados</h2>
            </div>
            <div class="row gx-0">
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Turma de violão</div>
                                <p class="mb-0">Turma de violão do ano 2010 à 2012, presencial!</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="home/assets/img/portfolio-1.jpg" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Turma de teclado</div>
                                <p class="mb-0">Turma de violão do ano 2013 à 2014, presencial e remota!</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="home/assets/img/portfolio-2.jpg" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Strawberries</div>
                                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="home/assets/img/portfolio-3.jpg" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Workspace</div>
                                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="home/assets/img/portfolio-4.jpg" alt="..." />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to Action-->
    <section class="content-section bg-primary text-white">
        <div class="container px-4 px-lg-5 text-center">
            <h2 class="mb-4">Tem alguma dúvida, sugestão ou elogio? contate-me através do botão abaixo.</h2>
            <a class="btn btn-xl btn-light me-4" href="#!">Contato!</a>
        </div>
    </section>
</div>